PORT=4000
JWT_SECRET=061728b50a74d307c3c4dd875403775553989429106838b7bc0034f26f469920

# Add your Neon connection string here when you create the database.
# Example:
# DATABASE_URL=postgresql://user:password@ep-example.ap-south-1.aws.neon.tech/fleetops?sslmode=require
DATABASE_URL='postgresql://neondb_owner:npg_j7Bf6xtzMuSy@ep-hidden-breeze-axmj8wh9-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
